
/* 
    #479ecb 
    #a0a0a0  
    #ffffff
*/



body{
    background-color: #ffffff;
    margin: 0px;
    position: fixed;
    width: 100%;
}

.container{
    margin: 0 50px;
    background-color: #ffffff;
    /* color: #479ecb; */
}

.menu{
    /* border: 2px solid red; */
    background-color: #479ecb;
    border-bottom: 2px solid #a0a0a0;
}
.menu_links{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: flex-end;
}
a{
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 35px;
}

a:hover{
    color: #ffffff;
}

.content{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    padding: 100px;
}

.content_left{
    border: 2px solid  #a0a0a0;
    width: 45%;
    height: 250px;
    text-align: center;
    padding-top: 50px;
    background-color: #479ecb;
    color: black;
    box-shadow: 5px 5px 2px 1px #a0a0a0;
    animation: jump 2s ease 0s 1 normal forwards;
}

@keyframes jump {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}




h1{
    font-size: 55px;
}
h2{
    font-size: 40px;
}

.content_right{
    /* border: 2px solid red; */
    width: 45%;
    height: 300px;
    text-align: center;
    padding-left: 110px;
}

.devops_img{
    /* border: 2px solid green; */
    background-image: url(source/devops_image.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 150%;
    width: 80%;
}

.footer{
    /* border: 2px solid #a0a0a0; */
    padding: 50px;
    text-align: center;
}

.footer_columns{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}

.column{
    border: 2px solid #479ecb;
    box-shadow: 5px 5px 2px 1px #a0a0a0;
    width: 10%;
    height: 150px;
}
